body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}

.main {
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.main.white {
  .header {
    background-color: darkslategrey;
    padding: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.main.dark {
  .header {
    background-color: lightseagreen;
    padding: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header img {
  max-width: 200px;
}

.header div {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: large;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #bbb;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header button {
  background: 0 0;
  border: none;
  color: orangered;
}
.header a {
  text-decoration: none;
  color: orangered;
}
.header input {
  background-color: orangered;
  text-align: center;
  border: none;
  color: antiquewhite;
  margin: 0 0.1em 0 0.75em;
  border-radius: 2.5vw;
}
.header input::placeholder {
  text-align: center;
  color: antiquewhite;
}
.header img {
  width: 10vw;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 5vw;
  }
  .header input {
    width: 40vw;
  }
  .header img {
    width: 30vw;
  }
}

/*
.header{
    background-color: darkslategrey;
    padding: 2.5vw;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;

    button {
      background: none;
      border: none;
      color: orangered;
    }
  
    input {
      background-color: orangered;
      text-align: center;
      border: none;
      color: antiquewhite;
      margin-left: 1vw;
      border-radius: 2.5vw;
      margin-right: 0.1em;
      margin-left: 0.75em;
    }
  
    input::placeholder {
      text-align: center;
      color: antiquewhite;
    }

    img {
      width: 10vw;
      height: auto;
    }
}

@media  screen and (max-width: 768px) {
  .header{
    background-color: darkslategrey;
    padding: 2.5vw;
    padding-top: 5vw;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
  
    input {
      width: 40vw;
    }

    img {
      width: 30vw;
      height: auto;
    }
}
}
*/
