:root{
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;

  background-image: url("./assets/pokemonBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d0d0dff;
  background-attachment: fixed;
}

html {
  color-scheme: light !important;
}

html, body {
  -webkit-filter: none !important;
  filter: none !important;
  background-blend-mode: normal !important;
  mix-blend-mode: normal !important;
  forced-color-adjust: none !important;
}