body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  background-image: url("./assets/pokemonBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d0d0dff;
}