body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  
    background-image: url(./assets/pkmn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
  }