.display-pokemon{
  background: rgb(250, 235, 215, .95);
    padding: 1.25vw;
    width: auto;
    border-radius: 0 0 2vw 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: darkslategrey;
        font-size: 2.5em;
    }

    img {
        width: 15vw;
        height: auto;
    }
  }

  .pokemon-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.25vw;
    width: 100%;

    p {
        color: darkslategrey;
        font-size: 1.5em;
        width: auto;
        padding: 1.25vw;
    }
  }

  .carousel.slide {
    text-align: center;
    width: 50vw;
  
    .carousel-indicators {
      margin-top: 5vh;
      .active {
        background-color: orangered;
      }
      button {
        background-color: darkslategrey;
      }
    }
  
    .carousel-control-next, .carousel-control-prev {
      background-color: darkslategrey;
      border-radius: 2em;
      width: 2.5vw;
      height: 5vh;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  @media screen and (max-width: 767px) {
    .display-pokemon{
        padding: 0;
        width: auto;
        border-radius: 0 0 0 0;
    
        h1 {
            font-size: 2em;
        }
    
        img {
            width: 20vh;
            height: auto;
        }
      }
    
      .pokemon-info {    
        p {
            font-size: 1.5em;
            padding: 1vw;
        }
      }
    
      .carousel.slide {
        text-align: center;
        width: 100vw;
      
        .carousel-indicators {
          margin-top: 5vh;
          .active {
            background-color: orangered;
          }
          button {
            background-color: darkslategrey;
          }
        }
      
        .carousel-control-next, .carousel-control-prev {
          width: 7.5vw;
          height: 5vh;
        }
      }
  }